<!DOCTYPE html>
<html lang='{% block html_lang %}en-gb{% endblock %}' {% block html_attributes %}{% endblock %}>
  <head {% block head_attributes %}{% endblock %}>
    {% block head_charset %}
      <meta charset='UTF-8'>
    {% endblock %}
    {% block head_block %}{% endblock %}
    <script>
      window.CAPE = {};
      window.CAPE.stage = function(stage) {
        document.documentElement.className = 'js-' + stage;
      }
      CAPE.timeout = setTimeout( CAPE.stage('timeout'), 5000 );
      CAPE.stage('capable');
    </script>
    {% block javascript_head %}{% endblock %}
  </head>
  <body {% block body_attributes %}{% endblock %} class='{% block body_class %}{% endblock %}'>
    
    {% block body_sheath %}{% endblock %}
    
    {% block javascript_variables %}{% endblock %}
    {% block javascript_libraries %}{% endblock %}
    {% block javascript_enhance %}{% endblock %}
    <script>
      clearTimeout(CAPE.timeout);
      CAPE.stage('ready');
    </script>
    {% block javascript_asynchronous %}{% endblock %}
    {% block javascript_analytics %}{% endblock %}
  </body>
</html>
